h1 {
    color: red;
}

title {
    color: yellow;
}


form {
    td {
        text-align: center;

        .btn_edit {
            position: absolute;
            float: right;
            margin-left: 1px;
        }
        .btn_del {
            position: absolute;
            float: right;
            margin-left: 31px;
            margin-right: 31px;
        }
        td input {
            float: left;
        }

        .spacer {
            width: 100px;
            margin: 0 -100px 0 0;
            background: transparent;
        }

        .month{
            width: 85px;
        }
    }

    table {
        display:table;
        table-layout:fixed;
        /* Boarder Settings */
        border-color: black;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-radius: 5px;
    }
}


