<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
        <!--region--> 
        <script src="https://kit.fontawesome.com/dfc5116c15.js" crossorigin="anonymous"></script>
        
        <script>
            function addRows(){
	            var table = document.getElementById('yearly_budget');//storing the table element in the "table variable"
                // Incerting new row and cells:
	            var rowCount = table.rows.length; //get the number of rows in the table
	            var cellCount = table.rows[0].cells.length; //get the number of cells in the table
	            var row = table.insertRow(rowCount); //create an empty row
                row.setAttribute("id", "yb_row0{{row_count}}");
	            for(var i = 0; i < cellCount; i++){ //dynamically generate the cells within the empty row
                    // Grab the cell that is just has been added:
                    var cell = row.insertCell(i);
                    var input = document.createElement("input"); //create empty <input> element
                    cell.appendChild(input); //place <input> elemtent inside a new <td>
                    // Fill attribute fields of new cells:
                    if (i == 0){
                        input.setAttribute("type","text");
                        input.setAttribute("name","Category Name"); 
                        // After "Category Name" cell insert buttons:
                        // Edit button:
                        var btn_edit = document.createElement("button"); 
                        cell.appendChild(btn_edit);
                        btn_edit.setAttribute("type", "button");
                        btn_edit.setAttribute("class", "btn_edit");
                        // Insert icon into the edit button:
                        btn_edit.innerHTML = "<i class='far fa-edit'></i>";
                        // Delete button
                        var btn_del = document.createElement("button");
                        cell.appendChild(btn_del);
                        btn_del.setAttribute("type", "button");
                        btn_del.setAttribute("class", "btn_del");
                        btn_del.setAttribute("onclick", "deleteRows()");
                        btn_del.innerHTML = "<i class='far fa-trash-alt'></i>";
                    } else {
                        //!!!! "yb_col" and "month" properties ARE WORKING INCORRECTLY
                        input.setAttribute("type","number");
                        input.setAttribute("class", "month");
                        input.setAttribute("id", "yb_col");
                        input.setAttribute("name", "month");
                    }
                } 
			}

            function deleteRows(){
                var table = document.getElementById('yearly_budget');
                var btn = event.target;
                //if (btn == null) {
                    //console.log("button not found");
                //}
                var row = btn.parentNode.parentNode;
                if (row !== null) {
                    console.log(row.id);
                }
                //var rowCount = table.rows.length;
                //if(rowCount > '2'){
                    //var row = 
                    //var row = table.deleteRow(rowCount-1);
                    //rowCount--;
                //}
                //else{
                    //alert('There should be atleast one row');
                //}
            }
        </script>    
    <!--endregion-->        
    </head>

    <body>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            
        </footer>

    </body>

</html>
